/* 	==========================================
	BASIC VARIABLES
	========================================== */
// COLORS
$lightGrey: #818181;
// LINK COLORS
$linkColor: #356c97;
$linkColorHover: #285376;
// BASE COLORS AND VARIABLES
$baseColor: #F0F0ED;
$textColor: darken($baseColor, 70%);
$rubyColor: #800000;
$fontSize: .8em;
/* 	==========================================
	STYLESHEETS TO IMPORT & COMPRESS
	========================================== */
//@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import "compass";
@import "_html5bp-main"; // Includes Normalize
@import "_mixins";
@import "_media-queries";
@import "_bootstrapGrid";
@import "_animate-custom";
@import "_syntax-dark";
@import "rainbow-themes/_blackboard";
@import "_font-awesome";

/* 	==========================================
	MEDIA QUERIES CHEAT SHEET
	========================================== */
/*
mobile-only
	mobile-portrait-only
	mobile-portrait-and-down
	mobile-portrait-and-up
	mobile-landscape-only
	mobile-landscape-and-down
	mobile-landscape-and-up
tablet-only
	tablet-portrait-only
	tablet-portrait-and-down
	tablet-portrait-and-up
	tablet-landscape-only
	tablet-landscape-and-down
	tablet-landscape-and-up
desktop-only
	desktop-and-up
	desktop-and-down
retina
*/

/* 	==========================================
	VARIABLES and MIXINS - TYPOGRAPHY
	========================================== */
//GOOD FOR BODY TEXT
$baskerville: Baskerville, "Times New Roman", Times, serif;
$garamond: Garamond, "Hoefler Text", "Times New Roman", Times, serif;
$geneva: Geneva, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
$gillsans: GillSans, Calibri, Trebuchet, sans-serif;

//GOOD FOR HEADLINE TEXT
$georgia: Georgia, Times, "Times New Roman", serif;
$times: Palatino, "Palatino Linotype", "Hoefler Text", Times, "Times New Roman", serif;
$tahoma: Tahoma, Verdana, Geneva;
$trebuchet: Trebuchet, Tahoma, Arial, sans-serif;

//GOOD FOR EITHER
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
//droid sans = google fonts
$droidsans: "Droid Sans",Arial,"Helvetica Neue","Lucida Grande",sans-serif;
//droid serif = google fonts (looks good in italic)
$droidserif: "Droid Serif",Constantia,Palatino,"Palatino Linotype","Book Antiqua",Georgia,serif;
$impact: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
$cambria: Cambria, Georgia, Times, "Times New Roman", serif;
$cooperlight: "Copperplate Light", "Copperplate Gothic Light", serif;
$futura: Futura, "Century Gothic", AppleGothic, sans-serif;
//Other
$monospace: Monaco,"DejaVu Sans Mono","Courier New",monospace;
$monospace2: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
$IMfell: "IM Fell English","Droid Sans",Arial,"Helvetica Neue","Lucida Grande",sans-serif; ;

/* 	==========================================
	VARIABLES and MIXINS - OTHER
	========================================== */
// FOR TESTING PURPOSES
.bgRed {background:red;}
.bgAqua {background:aqua;}
.bgYellow {background:yellow;}
.bgGreen {background:green;}
.bgBlue {background:blue;}
.bgOrange {background:orange;}

/* 	==========================================
	UTILITY CLASSES
	========================================== 
	(Also see the bottom of _html5bp-main.scss
	which includes .ir .hidden .visuallyhidden .invisible .clearfix */
.hl {
	// background: #EEF695;
	// background: rgba(234, 239, 175, 0.9);
	// padding: 0 3px;
}
.reset {margin:0; padding:0;}
.clearBoth {clear:both;}
/* ----------- FORMS ------------ */
.error, .notice, .success, .warning { 
	padding:.8em; margin-bottom:1em; border:2px solid #ddd; 
}
.error, .alert { background:#FBE3E4; color:#8a1f11; border-color:#FBC2C4; }
.notice, .warning { background:#FFF6BF; color:#514721; border-color:#FFD324; }
.success { background:#E6EFC2; color:#264409; border-color:#C6D880; }
.error a, .alert a { color:#8a1f11; }
.notice a, .warning a { color:#514721; }
.success a { color:#264409; }
.soft { color: lighten($textColor, 30%);}

/* Fancy Ampersands */
span.amp, em.amp {
	font-family: Baskerville, Palatino, "Book Antiqua", serif !important;
	font-style: italic;
	font-weight: normal;
}

// body {
// 	@include desktop-and-up {
// 		border-top:4px solid green;
// 	}
// 	@include tablet-landscape-only {
// 		border-top:4px solid orange;
// 	}
// 	@include tablet-portrait-only {
// 		border-top:4px solid red;
// 	}
// 	@include mobile-only {
// 		border-top: 4px solid blue;
// 	}
// }
// HIDE/SHOW FOR DIFFERENT SCREENS
.showForMobile {
	display:none;
	@include mobile-only {
			display:inline-block;
		}
}
.hideForMobile {
	@include mobile-only {
			display:none;
		}
}

/* 	==========================================
	MAIN STYLES
	========================================== */
a, a:visited { 
	color: $linkColor; 
	@include transition-property(color);
  	@include transition-duration(.2s);
}
a:hover { color: $linkColorHover;}
body {
	background:$baseColor;
	color: $textColor;
	font-family: $helvetica;
}
// This is the only place where any styles are declared on .container. It's not part of the grid framework.
.container {
	margin:0 auto;
	padding:0 50px;
	@extend .clearfix;
	@include tablet-landscape-and-up {
		max-width:650px; // For desktop, we'll make the max 960.
	}
	@include mobile-landscape-and-down {
		width:92%; // Let's leave a little padding for smaller screens. Using margin so our width computations don't get messed up.
		padding-left:4%;
		padding-right:4%;
	}
}
.container.main {
	padding-bottom:40px;
	padding-top:40px;
	background:#fff;
	border: 1px solid darken($baseColor, 5%);
}
// Responsive images.
.row img {
	max-width:100%; height: auto;
}

// Headings
h1, h2, h3 {
	font-weight:700;
}
header.container {
	position:relative;
	#logo {
		margin-bottom:0;
		text-align:center;
		a {
			text-decoration:none;
			display:inline-block;
			position:relative;
			@include transition-property(all);
  			@include transition-duration(.5s);
			&:hover{
				top:3px;
			}
		}
	}
	#nav {
		// float:right;
		// display:inline-block;
		// position:absolute; bottom:0; right:0;
		text-align:center;
		margin:0 0 1em 0;
		padding:0;
		li {
			display:inline-block;
			list-style-type: none;
			margin:0 10px;
		}
		// @include tablet-portrait-and-down {
		// 	float:none;
		// 	text-align:center;
		// 	position: static;
		// 	margin-left:0;
		// 	padding-left:0;
		// 	width:100%;
		// }
	}
}
// aboutTease
.aboutTease {
	text-align: center;
	padding-bottom:0;
	p {
		font-family:$georgia; font-style: italic;
		font-size:1.2em;
		color:desaturate(lighten($rubyColor, 70%), 40%);
		text-shadow:0 1px 0 darken($rubyColor, 20%);
	}
}
// aboutFull - has .hidden by default
.aboutFull {
	position:relative;
	opacity:1;
	height:auto;
	@include transition-property(all);
  	@include transition-duration(1s);
  	&.collapsed {
  		opacity:0;
  		height:0;
  		overflow:hidden;
  	}
  	.closeAboutFull {
		position:absolute; top:0; right:0;
		font-weight:bold;
		color:darken($rubyColor, 50%);
	  	@include text-shadow(0 1px 0 lighten($rubyColor, 10%));
	  	text-decoration:none;
		&:hover {
			color:#fff;
		}
	}
}
// footer
footer.container {
	max-width:960px;
	padding:0 0 30px 0;
	text-align:center;
	font-size:.85em;
}
header, footer {
	color:$textColor;
	a {
		color:$rubyColor;
		text-decoration:none;
		&:visited {
			color:$rubyColor;
		}
		&:hover {
			color:darken($rubyColor, 50%);
		}
	}
}
// Homepage
.homepageContent {
	h2 {
		margin-bottom:0;
	}
	p {
		margin:0 0 1em 0;
		@extend .soft;
	}
}
// Callout
.callout {
	padding:15px 30px;
	font-family:$georgia;
	font-style: italic;
	background:darken($baseColor, 2%);
	border-top:1px solid darken($baseColor, 12%);
	border-bottom:1px solid darken($baseColor, 12%);
}
// Post Lists
.posts {
	margin-bottom:2em;
	@include mobile-only {
		margin-bottom:0;
	}
	li {
		margin-bottom:.5em;
	}
}
.redBox {
	@extend .clearfix;
	background:$rubyColor;
	@include background-image(linear-gradient($rubyColor, darken($rubyColor, 6%)));
	//@include background-image(radial-gradient($rubyColor, darken($rubyColor, 8%)));
	color:lighten($textColor, 90%);
	@include text-shadow(1px 1px 0 darken($rubyColor,10%));
	a {
		color:#fff;
	}
}
.greyBox {
	@extend .clearfix;
	background:$baseColor;
	border-left: 1px solid darken($baseColor, 5%);
	border-right: 1px solid darken($baseColor, 5%);
	border-bottom: 1px solid darken($baseColor, 10%);
	@include background-image(linear-gradient($baseColor, darken($baseColor, 5%)));
	a {
		color:darken($baseColor, 50%);
		&:hover {
			color:darken($baseColor, 70%); 
		}
	}
}
.mug {
	float:left; margin:0 15px 5px 0;
	text-align: center;
	width:30%;
	img {
		@include border-radius(50%);
	}
}
.iconrow {
	font-size:1.7em;
	@extend .reset;
	a {
		text-decoration: none;
		display:inline-block; margin:0 5px;
		@include tablet-portrait-only {
			margin:0;
		}
		color:darken($rubyColor, 20%);
		@include text-shadow(0 1px 0 lighten($rubyColor, 10%));
		&:hover {
			color:$baseColor;
		}
	}
}
.techList {
	list-style-type:none;
	padding-left:0;
	li {
		em {
			font-style:	normal; font-size:.8em;
			color: lighten($rubyColor, 45%);
			text-shadow:none;
			a {
				color: lighten($rubyColor, 45%);
				&:visited, &:active  {
					color: lighten($rubyColor, 45%);
				}
				&:hover {
					color: lighten($rubyColor, 95%);
				}
			}
		}
	}
}

article.entry {
	h1 {
		@extend .reset;
		text-align:center;
		font-size:1.6em;
		text-transform:uppercase;
		letter-spacing: -1px;
	}
	.meta {
		@extend .soft;
		text-align:center;
		margin-top:0;
	}
	h2 {
		color: $rubyColor;
	}
	h3 {
		//color: $textColor;
	}
	p code {
		padding: 0 5px 2px 5px;
		border: 1px solid lighten($textColor, 50%);
		background:$baseColor;
		@include border-radius(3px);
		@include background-clip(padding-box);
		font-family: $monospace;
		font-size:.85em;
		line-height:1.2em;
		white-space:nowrap;
	}
	pre {
		padding:0 20px;
		margin-bottom:0;
		@include border-corner-radius(top, left, 8px);
		@include border-corner-radius(top, right, 8px);
		@include border-corner-radius(bottom, left, 8px);
		//border:1px solid $textColor;
		// overflow-y:auto;
		// overflow-x: visible;
		overflow-y: auto;
		overflow-x: scroll;
		// position:relative;
		// @include transition-property(all);
  // 		@include transition-duration(.2s);
		code {
			font-size:.8em;
			font-family: $monospace;
			@extend .reset;
			word-wrap: break-word;
			//white-space: nowrap;
		}
		&.expanded {
			display:block;
			position:relative;
			@include border-corner-radius(bottom, right, 8px);
		}
	}
	.expandCode {
		@extend .reset;
		text-align:right;
		line-height: 1em;
		a {
			display:inline-block;
			padding:3px 5px;
			background-color:darken($baseColor, 50%); color:#fff;
			@include border-corner-radius(bottom, right, 8px);
			@include border-corner-radius(bottom, left, 8px);
			vertical-align:middle;
			text-decoration:none;
			font-size:.8em;
			i {
				font-size:1.2em;
				vertical-align:middle;
			}
			@include transition-property(background-color);
  			@include transition-duration(.4s);
			&:hover {
				background-color:$rubyColor;
			}
		}
	}
}
.articleLinks {
	//background:aqua;
	@extend .clearfix;
	font-size: .85em;
	a {
		white-space: nowrap;
		text-decoration:none;
		vertical-align: middle;
		i {
			color: lighten($textColor, 55%);
			font-size:1.6em;
			vertical-align: middle;
			display:inline-block;
			margin:0 5px;
		}
	}
	.backLink {
		float:left;

	}
	.forwardLink {
		float:right;
	}
}
#disqus_thread {
	width:100%;
	margin-bottom:50px;
}




/*
// Sample single level buttons - Now compass friendly!
a.btn, input.btn {
	&.green {
		@include btn(#60a3d8, light);
	}
	&.red {
		@include btn(#bf4040, light);
	}
	&.yellow {
		@include btn(#e3e45b, dark);
	}
	&.orange {
		@include btn(#d98026, light);
	}
}
input.btn {
	text-align:center;
}


// Sample Box
.mixinBoxShadowExample {
	display:inline-block;
	color:darken($baseColor, 80%);
	padding:1em 2em;
	background: darken($baseColor, 50%);
	border:2px solid #fff;
	@include border-radius(10px);
	@include box-shadow(3px 3px 5px $lightGrey);
}
// Sample 2-row buttons - Now compass friendly!
a.multi-line-button {
	@include multi-line-button($linkColor);
	&.blue {
		@include color-multi-line-button(#60a3d8);
	}
	&.green {
		@include color-multi-line-button(#63bb4a);
	}
	&.red {
		@include color-multi-line-button(#bf4040);
	}
	&.orange {
		@include color-multi-line-button(#d98026);
	}
}
// Color the placeholder pink - Now compass friendly!
input[type=text]{
	@include input-placeholder(#ff0080);
}
*/














@import "_html5bp-print";