/* 	==========================================
	BASIC VARIABLES
	========================================== */
// COLORS
$lightGrey: #818181;
// LINK COLORS
$linkColor: #356c97;
$linkColorHover: #285376;
// BASE COLORS AND VARIABLES
$baseColor: #ffffff;
$textColor: darken($baseColor, 70%);
$rubyColor: #800000;
$fontSize: .8em;
/* 	==========================================
	STYLESHEETS TO IMPORT & COMPRESS
	========================================== */
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import "compass";
@import "_html5bp-main"; // Includes Normalize
@import "_mixins";
@import "_media-queries";
//@import "_1140";
@import "_bootstrapGrid";
@import "_animate-custom";
@import "_syntax-dark";
@import "_font-awesome";

/* 	==========================================
	MEDIA QUERIES CHEAT SHEET
	========================================== */
/*
mobile-only
	mobile-portrait-only
	mobile-portrait-and-down
	mobile-portrait-and-up
	mobile-landscape-only
	mobile-landscape-and-down
	mobile-landscape-and-up
tablet-only
	tablet-portrait-only
	tablet-portrait-and-down
	tablet-portrait-and-up
	tablet-landscape-only
	tablet-landscape-and-down
	tablet-landscape-and-up
desktop-only
	desktop-and-up
	desktop-and-down
retina
*/

/* 	==========================================
	VARIABLES and MIXINS - TYPOGRAPHY
	========================================== */
//GOOD FOR BODY TEXT
$baskerville: Baskerville, "Times New Roman", Times, serif;
$garamond: Garamond, "Hoefler Text", "Times New Roman", Times, serif;
$geneva: Geneva, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
$gillsans: GillSans, Calibri, Trebuchet, sans-serif;

//GOOD FOR HEADLINE TEXT
$georgia: Georgia, Times, "Times New Roman", serif;
$times: Palatino, "Palatino Linotype", "Hoefler Text", Times, "Times New Roman", serif;
$tahoma: Tahoma, Verdana, Geneva;
$trebuchet: Trebuchet, Tahoma, Arial, sans-serif;

//GOOD FOR EITHER
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
//droid sans = google fonts
$droidsans: "Droid Sans",Arial,"Helvetica Neue","Lucida Grande",sans-serif;
//droid serif = google fonts (looks good in italic)
$droidserif: "Droid Serif",Constantia,Palatino,"Palatino Linotype","Book Antiqua",Georgia,serif;
$impact: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
$cambria: Cambria, Georgia, Times, "Times New Roman", serif;
$cooperlight: "Copperplate Light", "Copperplate Gothic Light", serif;
$futura: Futura, "Century Gothic", AppleGothic, sans-serif;
//Other
$monospace: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
$IMfell: "IM Fell English","Droid Sans",Arial,"Helvetica Neue","Lucida Grande",sans-serif; ;

/* 	==========================================
	VARIABLES and MIXINS - OTHER
	========================================== */
// FOR TESTING PURPOSES
.bgRed {background:red;}
.bgAqua {background:aqua;}
.bgYellow {background:yellow;}
.bgGreen {background:green;}
.bgBlue {background:blue;}
.bgOrange {background:orange;}

/* 	==========================================
	UTILITY CLASSES
	========================================== 
	(Also see the bottom of _html5bp-main.scss
	which includes .ir .hidden .visuallyhidden .invisible .clearfix */
.hl {
	// background: #EEF695;
	// background: rgba(234, 239, 175, 0.9);
	// padding: 0 3px;
}
.reset {margin:0; padding:0;}
/* ----------- FORMS ------------ */
.error, .notice, .success, .warning { 
	padding:.8em; margin-bottom:1em; border:2px solid #ddd; 
}
.error, .alert { background:#FBE3E4; color:#8a1f11; border-color:#FBC2C4; }
.notice, .warning { background:#FFF6BF; color:#514721; border-color:#FFD324; }
.success { background:#E6EFC2; color:#264409; border-color:#C6D880; }
.error a, .alert a { color:#8a1f11; }
.notice a, .warning a { color:#514721; }
.success a { color:#264409; }
.soft { color: lighten($textColor, 30%);}

/* Fancy Ampersands */
span.amp, em.amp {
	font-family: Baskerville, Palatino, "Book Antiqua", serif !important;
	font-style: italic;
	font-weight: normal;
}

// body {
// 	@include desktop-and-up {
// 		border-top:4px solid green;
// 	}
// 	@include tablet-landscape-only {
// 		border-top:4px solid orange;
// 	}
// 	@include tablet-portrait-only {
// 		border-top:4px solid red;
// 	}
// 	@include mobile-only {
// 		border-top: 4px solid blue;
// 	}
// }
// HIDE/SHOW FOR DIFFERENT SCREENS
.showForMobile {
	display:none;
	@include mobile-only {
			display:inline-block;
		}
}
.hideForMobile {
	@include mobile-only {
			display:none;
		}
}

/* 	==========================================
	MAIN STYLES
	========================================== */
a, a:visited { color: $linkColor; }
a:hover { color: $linkColorHover;}
body {
	background: #777777 url(/img/argyle-light.png) left top repeat;
	color: $textColor;
	//@extend .test;
	//font-family: $helvetica;
	font-family: $droidsans;
}
// This is the only place where any styles are declared on .container. It's not part of the grid framework.
.container {
	//padding:0 20px;
	//background:#fff url(/img/tiny_grid.png) left top repeat;
	background:$baseColor;
	margin:0 auto;
	padding:0 30px;
	@extend .clearfix;
	@include desktop-and-up {
		max-width:900px; // For desktop, we'll make the max 960.
	}
	@include tablet-landscape-and-down {
		//width:96%; // Let's leave a little padding for smaller screens. Using margin so our width computations don't get messed up.
		//margin:0 2%;
	}
}
.container.main {
	padding-bottom:40px;
}
// Responsive images.
.row img {
	max-width:100%; height: auto;
}

// Headings
h1, h2, h3 {
	font-weight:700;
}
// header
header.container {
	background:transparent;
	max-width:960px;
	padding:0;
	ul {
		padding:0;
		text-align:right;
		li {
			display:inline-block;
			list-style-type: none;
			margin:0 10px;
		}
	}
}
// footer
footer.container {
	background:transparent;
	max-width:960px;
	padding:0 0 60px 0;
	text-align:center;
	font-size:.9em;
}
header, footer {
	color:lighten($textColor, 70%);
	@include text-shadow(0 1px 0 $textColor);
	a {
		color:#fff;
		font-weight:700;
		text-decoration:none;
		@include transition-property(color);
  		@include transition-duration(.2s);
  		&:visited {
  			color:#fff;
  		}
		&:hover {
			color:$rubyColor;
		}
	}
}
#aboutBox {
	overflow:hidden;
	//font-family:$IMfell; font-size:1.2em;
	position:relative;
	@extend .clearfix;
	background:$rubyColor;
	color:lighten($textColor, 100%);
	a {
		color:#fff;
	}
	.iconrow {
		text-align:center;
		font-size:1.7em;
		a {
			text-decoration: none;
			display:inline-block; margin:0 5px;
			@include tablet-portrait-only {
				margin:0;
			}
			//color:darken($baseColor, 50%);
			color:darken($rubyColor, 20%);
			@include text-shadow(0 1px 0 lighten($rubyColor, 10%));
			&:hover {
				color:$baseColor;
			}
		}
		@include mobile-only {
			margin-bottom:0;
		}
	}
	.closeAboutBox {
		font-size:2em;
		text-decoration: none;
		position:absolute; bottom:0; right:15px;
		color:$baseColor;
		@include text-shadow(0 1px 0 darken($baseColor, 80%));
		&:hover {
			color:$baseColor;
		}
	}
	@include transition-property(opacity, position);
  	@include transition-duration(1s, 1s);
  	@include transition-timing-function(ease-in, ease-in);
  	top:-40px;
  	height:0;
	opacity:0;
	&.open {
		height:auto;
		opacity:1;
		padding-top:20px; padding-bottom:20px; // Height 0 still leaves padding, so we have to do it here.
		top:0;
	}
}
.mug {
	text-align: center;
	img {
		@include border-radius(50%);
		@include mobile-only {
			max-width:50%;
		}
	}
	
}
// Pre
.highlight {
	padding:10px 20px;
	@include border-radius(10px);
	//background:#fff url(/img/tiny_grid.png) left top repeat
	border:1px solid $textColor;
	font-size:.9em; line-height:1.1em;
}
// Callout
.callout {
	padding:15px 30px;
	font-family:$georgia;
	font-style: italic;
	background:darken($baseColor, 2%);
	border-top:1px solid darken($baseColor, 12%);
	border-bottom:1px solid darken($baseColor, 12%);
}
// Post Lists
.posts {
	margin-bottom:3em;
	li {
		margin-bottom:.5em;
	}
}
// sidebar
.sidebar {
	background:darken($baseColor, 2%);
	border-top:1px solid darken($baseColor, 12%);
	border-bottom:1px solid darken($baseColor, 12%);
	//margin:10px 0;
	padding:0 20px;
	// font-family:$georgia;
}























// Sample single level buttons - Now compass friendly!
a.btn, input.btn {
	&.green {
		@include btn(#60a3d8, light);
	}
	&.red {
		@include btn(#bf4040, light);
	}
	&.yellow {
		@include btn(#e3e45b, dark);
	}
	&.orange {
		@include btn(#d98026, light);
	}
}
input.btn {
	text-align:center;
}
#logo {
	text-align:center;
	letter-spacing: -1px;
	background:transparent url(/img/ruby.png) center bottom no-repeat;
	@include retina {
		background:transparent url(/img/ruby_@2x.png) center bottom no-repeat;
		background-size: 50% auto;
	}
	padding-bottom:1em;
	em {
		font-weight:200;
		color:lighten($textColor, 30%);
	}
	span {
		color:$rubyColor;
	}
}
// Sample Box
.mixinBoxShadowExample {
	display:inline-block;
	color:darken($baseColor, 80%);
	padding:1em 2em;
	background: darken($baseColor, 50%);
	border:2px solid #fff;
	@include border-radius(10px);
	@include box-shadow(3px 3px 5px $lightGrey);
}
// Sample 2-row buttons - Now compass friendly!
a.multi-line-button {
	@include multi-line-button($linkColor);
	&.blue {
		@include color-multi-line-button(#60a3d8);
	}
	&.green {
		@include color-multi-line-button(#63bb4a);
	}
	&.red {
		@include color-multi-line-button(#bf4040);
	}
	&.orange {
		@include color-multi-line-button(#d98026);
	}
}
// Color the placeholder pink - Now compass friendly!
input[type=text]{
	@include input-placeholder(#ff0080);
}















































@import "_html5bp-print";