<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie10 lt-ie9 lt-ie8 ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie10 lt-ie9 ie8" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js lt-ie10 ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">

	<!-- Use the .htaccess and remove these lines to avoid edge case issues.
	   More info: h5bp.com/i/378 -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{{ page.title }}</title>
	<meta name="description" content="">
	<meta name="author" content="Jeremy Ricketts" />
	<!-- <link href="http://feeds.feedburner.com/tom-preston-werner" rel="alternate" title="Tom Preston-Werner" type="application/atom+xml" /> -->

	<!-- Mobile viewport optimized: h5bp.com/viewport -->
	<!-- <meta name="viewport" content="width=device-width"> -->

	<!-- Default for 1140px Grid -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

	<!-- Compiled styles -->
	<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />

	<!--css3-mediaqueries-js - http://code.google.com/p/css3-mediaqueries-js/ - Enables media queries in some unsupported browsers-->
	<!--[if lt IE 9]><script type="text/javascript" src="/js/css3-mediaqueries.js"></script><![endif]-->

	<script src="/js/libs/modernizr-2.5.3.min.js"></script>
</head>
<body>
	<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
	   chromium.org/developers/how-tos/chrome-frame-getting-started -->
	<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

	<div class="container" id="aboutBox">
		<div class="row">
			<div class="span3">
				<p class="mug"><img src="/img/avatar_200_200_@2x.png" alt="Jeremy Ricketts"></p>
				<p class="iconrow"><a href="http://twitter.com/jeremyricketts/" title="Twitter"><i class="icon-twitter"></i></a> <a href="https://github.com/jeremyricketts" title="Github"><i class="icon-github"></i></a> <a href="mailto:email@jeremyricketts.com" title="Email"><i class="icon-envelope"></i></a> <a href="http://jeremyricketts.com" title="My Personal Website"><i class="icon-globe"></i></a></p>
			</div>
			<div class="span8">
				<h2>Ruby, Rails <span class="amp">&amp;</span> beyond.</h2>
				<p class="hideForMobile">&larr;Yup. That's me. Jeremy.</p>
				<p>For years, I've been employed as a designer and front-end developer. You might call me a "devigner". I'm about 20% pencil &amp; paper, 30% Photoshop, and 50% HTML/CSS/JS.</p>
				<p>Like many devigners, I've always wanted to get into programming. Although I've dabbled in PHP (and completed some fairly complex projects using <a href="http://expressionengine.com" title="Expression Engine">Expression Engine</a>) I'd really like to do some "real" programming.</p>
				<p>Let's make some magic happen.</p>
			</div>
			<a class="closeAboutBox" href="#" title="Close"><i class="icon-remove-sign"></i></a>
		</div>
	</div>

	<header class="container">
		<ul>
			<li><a id="aboutLink" href="#" title="about">about</a></li>
			<li><a href="#" title="resources">resources</a></li>
		</ul>
	</header>
	
	<div class="container main" role="main"><!-- Can also be named container960max. See style.scss for sample styling. -->

		<div class="row">
			<div class="span12">
				<h1 id="logo">newbie<em class="amp">on</em><span>ruby</span></h1>
			</div>
		</div>

		{{ content }}

	</div><!-- /.container -->

	<footer class="container"><!-- Multiple containers can be added. They are just here to control width. -->

		<div class="row">
			<div class="span12">
				<p>Steal anything from this site you want. Just link back. Or not. Whatev man.</p>
			</div>
		</div>

	</footer>


	<!-- JavaScript at the bottom for fast page loading -->

	<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="/js/libs/jquery-1.8.2.min.js"><\/script>')</script>

	<!-- scripts concatenated and minified via build script -->
	<script src="/js/plugins.js"></script>
	<script src="/js/script.js"></script>
	<!-- end scripts -->

	<!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
	   mathiasbynens.be/notes/async-analytics-snippet -->
	<script>
	var _gaq=[['_setAccount','UA-362990-27'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>
</body>
</html>
