<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie10 lt-ie9 lt-ie8 ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie10 lt-ie9 ie8" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js lt-ie10 ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">

	<!-- Use the .htaccess and remove these lines to avoid edge case issues.
	   More info: h5bp.com/i/378 -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{{ page.title }}</title>
	<meta name="description" content="A designer's adventure adventure into the world of ruby and rails.">
	<meta name="author" content="Jeremy Ricketts" />
	<link href="/atom.xml" rel="alternate" title="Newbie On Ruby" type="application/atom+xml" />

	<!-- Mobile viewport optimized: h5bp.com/viewport -->
	<!-- <meta name="viewport" content="width=device-width"> -->

	<!-- Default for 1140px Grid -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

	<!-- Compiled styles -->
	<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />

	<!--css3-mediaqueries-js - http://code.google.com/p/css3-mediaqueries-js/ - Enables media queries in some unsupported browsers-->
	<!--[if lt IE 9]><script type="text/javascript" src="/js/css3-mediaqueries.js"></script><![endif]-->

	<script src="/js/libs/modernizr-2.5.3.min.js"></script>
</head>
<body>
	<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
	   chromium.org/developers/how-tos/chrome-frame-getting-started -->
	<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

	<header class="container">
		<div class="row">
			<div class="span12">
				<h1 id="logo">
					<a href="/" title="newbieonruby.com">
						<img src="/img/logo.png" alt="Newbie On Ruby">
					</a>
				</h1>
				<ul id="nav">
					<li><a href="/" title="articles">articles</a></li>
					<!-- <li><a href="/snips/" title="snips">snips</a></li> -->
					<li class="closeAboutFull"><a href="#" title="about" class="closeAboutFull">about</a></li>
				</ul>
			</div>
		</div>
	</header>

	<div class="container redBox">
		<div class="row aboutTease">
			<div class="span12">
				<p>A designer's adventure adventure into the world of ruby <span class="amp">&amp;</span> rails.</p>
			</div>
		</div>
		<div class="row aboutFull collapsed">
			<div class="span6 mobileFullRow">
				<h3>About this site</h3>
				<p>First, this site serves a kind of journal. After all, it's nice to see your progress. Secondly, I'm hoping that the articles are helpful to others. I've made a career for myself by using knowledge that other people took the time to write down and post to the web. Time to give back a little.</p>
				<h3>Under the hood</h3>
				<ul class="techList">
					<li><a href="https://github.com/mojombo/jekyll" title="Jekyll">Jekyll</a><em> - Jekyll is a simple static site generator written in ruby.</em></li>
					<li><a href="http://sass-lang.com/" title="Sass">Sass</a> <span class="amp">&amp;</span> <a href="http://compass-style.org/" title="Compass">Compass</a><em> - Compass is the frosting on the SASS cupcake.</em></li>
					<li><a href="http://git-scm.com/" title="Git">Git</a><em> - You can <a href="https://github.com/jeremyricketts/newbieonruby" title="github repo">clone the repo</a> if you want.</em></li>
					<li><a href="http://www.ubuntu.com/" title="Ubuntu">Ubuntu</a><em> - A little server running Ubuntu hosted over at <a href="http://www.linode.com/" title="Linode">Linode</a>.</em></li>
				</ul>
			</div>
			<div class="span6 mobileFullRow">
				<h3>About the author</h3>
				<div class="mug"><img src="/img/avatar_200_200_@2x.png" alt="Jeremy Ricketts"></div>
				<p class="iconrow"><a href="http://twitter.com/jeremyricketts/" title="Twitter"><i class="icon-twitter"></i></a> <a href="https://github.com/jeremyricketts" title="Github"><i class="icon-github"></i></a> <a href="mailto:email@jeremyricketts.com" title="Email"><i class="icon-envelope"></i></a> <a href="http://jeremyricketts.com" title="My Personal Website"><i class="icon-globe"></i></a></p>
				<p>&larr; mah face.</p>
				<p class="clearBoth">I'm Jeremy Ricketts. For years I've been employed as a designer and front-end developer. I'm about 20% pencil &amp; paper, 40% Photoshop, and 40% html/css/js. I've always wanted to get into programming. Although I've dabbled in PHP (and completed some fairly complex projects using <a href="http://expressionengine.com/showcase/interview/jeremy_ricketts_coffee_depot" title="Expression Engine Interview">Expression Engine</a>) I'd really like to do some "real" programming.</p>
				<a href="#" title="Close" class="closeAboutFull">close</a>
			</div>
		</div>
	</div>
	
	{{ content }}

	<!-- JavaScript at the bottom for fast page loading -->

	<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="/js/libs/jquery-1.8.2.min.js"><\/script>')</script>

	<!-- Should probably combine these -->
	<script src="/js/libs/rainbow-custom.min.js"></script>
	<script src="/js/plugins.js"></script>
	<script src="/js/script.js"></script>
	<!-- end scripts -->

	<!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
	   mathiasbynens.be/notes/async-analytics-snippet -->
	<script>
	var _gaq=[['_setAccount','UA-362990-27'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>
</body>
</html>
